.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

div.row label small {
  color: #555;
  margin-left: 0.3em;
}

form {
  text-align: left;
  padding: 5em 10em;
}

div.row div label div input {
  background: transparent;
  border-color: grey;
}

div.row div label div input.error {
  background: #E4A89E;
  border-color: #9C1D09;
}

div.row div label div span {
  color: #cc4b37;
  font-weight: bold;
  display: none
}

div.row div label div span.error {
  display: block;
}